{% extends "base.html" %}
{% load static %}

{% block content %}

        <!--=====================================-->
        <!--=       Breadcrumb Area Start      =-->
        <!--=====================================-->
        <div class="edu-breadcrumb-area breadcrumb-style-2 bg-image bg-image--19">
            <div class="container">
                <div class="breadcrumb-inner">
                    <div class="page-title">
                        <h1 class="title">Blog Details</h1>
                    </div>
                    <ul class="edu-breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="separator"><i class="icon-angle-right"></i></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--=====================================-->
        <!--=       Blog Details Area Start     =-->
        <!--=====================================-->
        <div class="blog-details-area section-gap-equal">
            <div class="container">
                <div class="row row--30">
                    <div class="col-lg-8">
                        <div class="blog-details-content">
                            <div class="entry-content">
                                {% for cat in post.get_extra_categories_list %}
                                    <span class="category">{{ cat }}</span>
                                {% endfor %}
                                
                                <h3 class="title">{{ post.title }}</h3>
                                
                                <ul class="blog-meta">
                                    <li><i class="icon-27"></i>{{ post.published_date|date:"M d, Y" }}</li>
                                    <li><i class="icon-28"></i>Com {{ comments.count }}</li>
                                </ul>
                                
                                {% if post.image %}
                                    <div class="thumbnail">
                                        <img src="{{ post.image.url }}" alt="Blog Image">
                                    </div>
                                {% endif %}
                            </div>
                        
                            {% for section in post.sections.all %}
                                <h3 class="title">{{ section.heading }}</h3>
                                <p>{{ section.body }}</p>
                        
                                {% if section.images.all %}
                                    <div class="features-image">
                                        <div class="row g-md-5">
                                            {% for image in section.images.all %}
                                                <div class="col-6">
                                                    <div class="thumb">
                                                        <img src="{{ image.image.url }}" alt="Section Image">
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        

                            <div class="blog-share-area">
                                <div class="row align-items-center">
                                    <div class="col-md-7">
                                        <div class="blog-tags">
                                            <h6 class="title">Tags:</h6>
                                            <div class="tag-list">
                                                {% for tag in post.tags.all %}
                                                <li><a href="#">{{ tag.name }}</a></li>
                                            {% endfor %}
                                                    
                                            </div>
                                        </div>
                                                                         
                                    </div>
                                    <div class="col-md-5">
                                        <div class="blog-share">
                                            <h6 class="title">Share on:</h6>
                                            <ul class="social-share icon-transparent">
                                                <li>
                                                    <a href="#"><i class="icon-facebook"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="icon-twitter"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="icon-instagram"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Author -->
                        <div class="blog-author">
                            <div class="thumbnail">
                                <img src="{{ post.author.image.url }}" alt="Author Image" style="max-width: 100px; max-height: 100px; border-radius: 50%;">
                            </div>
                            <div class="author-content">
                                <h5 class="title">{{ post.author.name }}</h5>
                                <p>{{ post.author.bio }}</p>
                                <ul class="social-share icon-transparent">
                                    {% if post.author.facebook %}
                                        <li><a href="{{ post.author.facebook }}"><i class="icon-facebook"></i></a></li>
                                    {% endif %}
                                    {% if post.author.twitter %}
                                        <li><a href="{{ post.author.twitter }}"><i class="icon-twitter"></i></a></li>
                                    {% endif %}
                                    {% if post.author.instagram %}
                                        <li><a href="{{ post.author.instagram }}"><i class="icon-instagram"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        <!-- Blog Pagination -->
                        <div class="blog-pagination">
                            <div class="row g-5">
                                <div class="col-lg-6">
                                    {% if previous_post %}
                                    <div class="blog-pagination-list prev-post">
                                        <a href="{% url 'blog_detail' previous_post.slug %}">
                                            <i class="icon-west"></i>
                                            <span>{{ previous_post.title }}</span>
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="col-lg-6">
                                    {% if next_post %}
                                    <div class="blog-pagination-list next-post">
                                        <a href="{% url 'blog_detail' next_post.slug %}">
                                            <span>{{ next_post.title }}</span>
                                            <i class="icon-east"></i>
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>



                        <!-- Start Comment Area  --> 
                        <div class="comment-area">
                            <h3 class="heading-title">Comments ({{ comments.count }})</h3>
                            <div class="comment-list-wrapper">
                                {% for comment in comments %}
                                    {% if not comment.parent %}
                                        <!-- Start Single Comment -->
                                        <div class="comment" id="comment-{{ comment.id }}">
                                            <div class="thumbnail">
                                                <img src="{% if comment.author.userprofile.profile_picture %}{{ comment.author.userprofile.profile_picture.url }}{% else %}assets/images/blog/default-user.jpg{% endif %}" alt="Commenter Image">
                                            </div>
                                            <div class="comment-content">
                                                <h5 class="title">{{ comment.name }}</h5>
                                                <span class="date">{{ comment.created_at|date:"F d, Y" }}</span>
                                                <p>{{ comment.content }}</p>
                                                <div class="reply-btn-wrapper">
                                                    <a href="#" class="reply-btn" data-comment-id="{{ comment.id }}">Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Single Comment -->

                                        <!-- Start Replies -->
                                        <div id="replies-{{ comment.id }}">
                                            {% for reply in comment.replies.all %}
                                            <div class="comment comment-reply">
                                                <div class="thumbnail">
                                                    <img src="{% if reply.author.userprofile.profile_picture %}{{ reply.author.userprofile.profile_picture.url }}{% else %}/static/assets/images/blog/default-user.jpg{% endif %}" alt="User">
                                                </div>
                                                <div class="comment-content">
                                                    <h5 class="title">{{ reply.author.username }}</h5>
                                                    <span class="date">{{ reply.created_at|date:"F d, Y" }}</span>
                                                    <p>{{ reply.content }}</p>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <!-- End Replies -->
                                    {% endif %}
                                {% empty %}
                                    <p>No comments yet. Be the first to comment!</p>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- End Comment Area -->




                        <!-- End Comment Area  -->
                        <div class="comment-form-area">
                            <h3 class="heading-title">Leave Your Comment Here</h3>
                        
                            {% if user.is_authenticated %}
                                <form method="post" class="comment-form" action="">
                                    {% csrf_token %}
                                    <div class="row g-5">
                                        <div class="form-group col-lg-6">
                                            {{ form.name.label_tag }}
                                            {{ form.name }}
                                            {{ form.name.errors }}
                                        </div>
                                        <div class="form-group col-lg-6">
                                            {{ form.email.label_tag }}
                                            {{ form.email }}
                                            {{ form.email.errors }}
                                        </div>
                                        <div class="form-group col-12">
                                            {{ form.content.label_tag }}
                                            {{ form.content }}
                                            {{ form.content.errors }}
                                        </div>
                                        <div class="form-group col-12">
                                            <button type="submit" class="edu-btn submit-btn">
                                                Send Message <i class="icon-4"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            {% else %}
                                <p class="text-danger">Yorum yazmaq üçün <a href="{% url 'login' %}">daxil olun</a>.</p>
                            {% endif %}
                        </div>                        


            </div>

                    <div class="col-lg-4">
                        <div class="edu-blog-sidebar">

                            <div class="edu-blog-widget widget-search">
                                <div class="inner">
                                    <h4 class="widget-title">Search</h4>
                                    <div class="content">
                                        <div class="content">
                                            <form class="blog-search" method="get" action="#">
                                                <button class="search-button" type="submit"><i class="icon-2"></i></button>
                                                <input type="text" name="q" placeholder="Search" value="{{ query }}">
                                            </form>
                                
                                            <div id="search-results"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                            
                        
                            <!-- <div id="search-results" style="padding-left: 20px; margin-top: 20px;"></div> -->
                            
                        

                            <!-- End Single Widget  -->

                            
                            <!-- Start Single Widget  -->
                            <div class="edu-blog-widget widget-latest-post">
                                <div class="inner">
                                    <h4 class="widget-title">Latest Post</h4>
                                    <div class="content latest-post-list">
                                        {% for post in latest_posts %}
                                            <div class="latest-post">
                                                <div class="thumbnail">
                                                    <a href="{% url 'blog_detail' post.slug %}">
                                                        <img src="{{ post.image.url }}" alt="Blog Images">
                                                    </a>
                                                </div>
                                                <div class="post-content">
                                                    <h6 class="title"><a href="{% url 'blog_detail' post.slug %}">{{ post.title }}</a></h6>
                                                    <ul class="blog-meta">
                                                        <li><i class="icon-27"></i>{{ post.published_date|date:"d M, Y" }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        {% empty %}
                                            <p>No posts available.</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            
                            <!-- End Single Widget  -->
                            <!-- Start Single Widget  -->
                            <div class="edu-blog-widget widget-categories">
                                <div class="inner">
                                    <h4 class="widget-title">Categories</h4>
                                    <div class="content">
                                        <ul class="category-list">
                                            {% for category in categories %}
                                                <li>
                                                    <a href="{{ category.link }}">
                                                        {{ category.get_name_display }}
                                                        <span>({{ category.post_count }})</span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Widget  -->

                            <!-- Start Single Widget  -->
                            <div class="edu-blog-widget widget-action">
                                <div class="inner">
                                    <h4 class="title">Get Online Courses From <span>EduBlink</span></h4>
                                    <span class="shape-line"><i class="icon-19"></i></span>
                                    <p>Nostrud exer ciation laboris aliqup</p>
                                    <a href="#" class="edu-btn btn-medium">Start Now <i class="icon-4"></i></a>
                                </div>
                            </div>
                            <!-- End Single Widget  -->
                            <!-- Start Single Widget  -->
                            <div class="edu-blog-widget widget-categories">
                                <div class="inner">
                                    <h4 class="widget-title">Archives</h4>
                                    <div class="content">
                                        <ul class="category-list">
                                            {% for archive in archives %}
                                                <li>
                                                    <a href="#">
                                                        {{ archive.month|date:"Y F" }} <span>({{ archive.course_count }})</span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div>
                     
                            <!-- End Single Widget  -->
                            <!-- Start Single Widget  -->
                            <div class="edu-blog-widget widget-tags">
                                <div class="inner">
                                    <h4 class="widget-title">Tags</h4>
                                    <div class="content">
                                        <div class="tag-list">
                                            {% for tag in all_tags %}
                                                <a href="{% url 'tagged_blogs' tag.name %}">{{ tag.name }}</a>
                                            {% empty %}
                                                <p>No tags available.</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            <!-- End Single Widget  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=====================================-->
        <!--=        CTA  Area Start            =-->
        <!--=====================================-->
        <!-- Start Ad Banner Area  -->
        <div class="edu-cta-banner-area home-one-cta-wrapper bg-image">
            <div class="container">
                <div class="edu-cta-banner">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <h2 class="title">Get Your Quality Skills <span class="color-secondary">Certificate</span> Through EduBlink</h2>
                                <a href="{% url 'contact' %}" class="edu-btn">Get started now <i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                    <ul class="shape-group">
                        <li class="shape-01 scene">
                            <img data-depth="2.5" src="{% static 'assets/images/cta/shape-10.png' %}" alt="shape">
                        </li>
                        <li class="shape-02 scene">
                            <img data-depth="-2.5" src="{% static 'assets/images/cta/shape-09.png' %}" alt="shape">
                        </li>
                        <li class="shape-03 scene">
                            <img data-depth="-2" src="{% static 'assets/images/cta/shape-08.png' %}" alt="shape">
                        </li>
                        <li class="shape-04 scene">
                            <img data-depth="2" src="{% static 'assets/images/about/shape-13.png' %}" alt="shape">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Ad Banner Area  -->

        <script>
        document.querySelector('.blog-search').addEventListener('submit', function(e) {
            e.preventDefault();  
            const query = this.querySelector('input[name="q"]').value.trim();  

            if (!query) {
                document.getElementById('search-results').innerHTML = '';
                return;
            }

            fetch("{% url 'blog_page' %}?q=" + encodeURIComponent(query), {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'  
                }
            })
            .then(response => response.json())
            .then(data => {
                const resultsContainer = document.querySelector('#search-results');
                resultsContainer.innerHTML = '';

                if (data.posts.length > 0) {
                    data.posts.forEach(post => {
                        resultsContainer.innerHTML += `
                            <h2><a href="/blog/${post.slug}/">${post.title}</a></h2>
                            <p>${post.content}</p>
                        `;
                    });
                } else {
                    resultsContainer.innerHTML = `<p>No results found for "<strong>${query}</strong>"</p>`;
                }
            });
        });   






            document.addEventListener('DOMContentLoaded', function() {
                document.querySelectorAll('.reply-btn').forEach(function(button) {
                button.addEventListener('click', function(event) {
                    event.preventDefault();
                    let commentId = this.getAttribute('data-comment-id');
                    let replyForm = document.createElement('form');
                    replyForm.classList.add('reply-form');
                    replyForm.innerHTML = `
                        <textarea name="reply-content" placeholder="Write your reply here..." required></textarea>
                        <button type="submit">Post Reply</button>
                        <input type="hidden" name="comment-id" value="${commentId}">
                    `;
                    
                    let repliesContainer = document.getElementById('replies-' + commentId);
                    repliesContainer.appendChild(replyForm);

                    replyForm.addEventListener('submit', function(e) {
                        e.preventDefault();
                        let content = replyForm.querySelector('textarea').value;
                        let commentId = replyForm.querySelector('input[name="comment-id"]').value;

                        fetch("{% url 'post_reply' %}", {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                            },
                            body: JSON.stringify({
                                content: content,
                                comment_id: commentId
                            })
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                let newReply = document.createElement('div');
                                newReply.classList.add('comment', 'comment-reply');
                                newReply.innerHTML = `
                                    <div class="thumbnail">
                                        <img src="${data.reply.author_profile_picture}" alt="User">
                                    </div>
                                    <div class="comment-content">
                                        <h5 class="title">${data.reply.author_username}</h5>
                                        <span class="date">${data.reply.created_at}</span>
                                        <p>${data.reply.content}</p>
                                    </div>
                                `;
                                repliesContainer.appendChild(newReply);
                                replyForm.reset();
                            } else {
                                alert('There was an error posting your reply.');
                            }
                        });
                    });
                });
            });
        });
            </script>
            {% endblock %}
