{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="d-flex align-items-center justify-content-center" style="min-height: 85vh; background-color: #a9ebcc;">
    <div class="form-card w-100" style="max-width: 400px;">
      <h3 class="text-center mb-4">Set New Password</h3>
  
      <form method="POST" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
  
        <div class="mb-3">
          {{ form.new_password1.label_tag }}
          {{ form.new_password1 }}
          {{ form.new_password1.errors }}
        </div>
  
        <div class="mb-3">
          {{ form.new_password2.label_tag }}
          {{ form.new_password2 }}
          {{ form.new_password2.errors }}
        </div>
  
        <button type="submit" class="btn w-100" style="background: linear-gradient(90deg, #31b978 0%, #1ab69d 100%); color: white; border: none;">Reset Password</button>
      </form>
    </div>
  </section>
  
  
{% endblock %}

